html {
    background: #E5E5E5;
    margin: 0 auto;
    max-width: 1366px;
    height: 100%;
}

body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    background-image: url("../images/background-1.jpg");
    background-size: cover;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #F26522;
}

.header {
    display: flex;
    justify-content: center;
    width: 1030px;
    height: 61px;
    margin-left: 162px;
}

.upper-nav {
    width: 100%;
    height: 100%;
    position: relative ;
}

.header-logo {
    position: absolute;
    top: 6px;
    left:0;
    width: 53px;
    height: 47px;
}

.header-logo:hover img{
    content: url("../images/castle-orange.png");
}

.header-left-link1 {
    position: absolute;
    top: -1px;
    left: 55px;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    margin: 0;
    display: inline-block;
}

.header-left-link2 {
    position: absolute;
    bottom: -1px;
    left: 57px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
}

.header-right-link1 {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.header-right-link2 {
    position: absolute;
    bottom: -3px;
    right: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.container {
    width: 1030px;
    height: 560px;
    display: grid;
    column-gap: 60px;
    margin-left: 165px;
    margin-top: 18px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1em 1fr 1em;
}

.picture {
    position: relative;
    width: 300px;
    height: 220px;
}

.link {
    position: absolute;
    width: 304px;
    height: 55px;
    bottom: -2px;
    color: #FFFFFF;
    background-color: #F26522;
    opacity: 0;
}

.picture:hover .link {
    opacity: 100%;
    transition: 0.5s;
}

.link-1 {
    position: absolute;
    bottom: -5px;
    left: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.link-2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.link-3 {
    position: absolute;
    bottom: 8px;
    right: 14px;
}

.link-3::after {
    content: url("/images/icon-decoration.png");
    margin-left: 12px;
}

.link-3:hover {
    color: #FFFFFF;
    opacity: 40%;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: block;
    text-align: center;
}

.footer {
    width: 1030px;
    height: 21px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 161px;
    margin-top: 49px;
    padding-bottom: 10px;
}











